#sensores {
  padding: 5%;
  margin-bottom: 5%;
}

#sensores span{
  font-size:1.2em;
  margin-left: 8%;
}

#botones_aulas{
  font-size:1.4em;
}

.buttons-onoff{
  float: right;
}

.white-link {
  color: white;
}

.motas-div:hover {
  background-color: #169F85;
}

.aulas-div:hover {
  background-color: #31b0d5;
}
